<div class="form-group">
    <label for="title">Titre</label>
    <input required value="" type="text" name="title" id="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="Auteur">Auteur</label>
    <textarea name="Auteur" id="Auteur" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="Desc">Description</label>
    <textarea required name="Desc" id="Desc" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="Contenu">Contenu du Livre</label>
    <textarea required name="Contenu" id="Contenu" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="Categorie">Categorie</label>
    <textarea required name="Categorie" id="Categorie" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="MaisonEdition">Maison d'Edition</label>
    <textarea required name="MaisonEdition" id="MaisonEdition" class="form-control"></textarea>
  </div>
  
  <a href="/" class="btn btn-secondary">Annuler</a>
  <button type="submit" class="btn btn-primary">Enregistrer</button>